.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.mars {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 430px;
}

.mars_map {
  position: absolute;
  top: 20px;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  background-image: url('./image/mars.jpg');
  background-repeat: repeat-x;
  background-size: cover;
}

.content {
  margin-top: 500px;
}

.top {
  width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content__center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cell__black {
  background-color: rgba(0, 0, 0, 0.3);
}

input[type="number"]{
  width: 60px;
  height: 40px;
}
